body {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('image/backgroung.jpg');
    background-repeat: repeat;
    background-size: cover;
}

 .unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
  }

  .arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #505050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  .arrow:hover {
    background-color: rgb(107, 107, 107);
  }
  .arrow:active {
    background-color: #505050;
  }
  
  .popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 130px;
    height: 85px;
    background-color: #8d8d8d;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 10px;
    display: none;
    }

img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

h1 {
    color: orange;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: "", sans-serif;
}

p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "", sans-serif;
}

p1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.short-line {
    width: 25%;
    border: 2px solid black;
}

.long-line {
    width: 30%;
    border: 2px solid black;
}

span.highlight {
    color: black;
}
