body {
    background-color: rgb(255, 255, 255);
    background-image: url('image/backgroung.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

/* 導覽列樣式 */
.navbar {
  background-color: #222222;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* 導覽列內容樣式 */
.navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* 半透明導覽列樣式 */
.navbar.transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 鼠標懸停時的樣式 */
.navbar a:hover {
  background-color: #606060;
}


#logo-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

#logo {
  width: 100px; /* 調整logo的寬度 */
  height: auto; /* 根據寬度自動調整高度 */
  display: inline-block;
  margin-top: -25px;
}

#logotext {
  font-size: 40px;
  color: #ffffff;
  margin-top: -58px;
  margin-left: 100px;
}

 .unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
  }

  .arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #505050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  .arrow:hover {
    background-color: rgb(107, 107, 107);
  }
  .arrow:active {
    background-color: #505050;
  }
  
  .popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 130px;
    height: 85px;
    background-color: #8d8d8d;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 10px;
    display: none;
    }

img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.h1 {
    color: yellow;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: "", sans-serif;
}

.h2 {
  color: rgb(255, 117, 117);
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  font-family: "", sans-serif;
}

p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: "", sans-serif;
}

.h {
  color: orange;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: "", sans-serif;
}

p1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.short-line {
    width: 25%;
    border: 2px solid black;
}

.long-line {
    width: 30%;
    border: 2px solid black;
}

span.highlight {
    color: black;
}
