body {
    background-color: rgb(52, 52, 52);
    background-image: url('../image/backgroung.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.foxstudioeuorg{
font-size: 15px;
}

ul { /* 取消ul預設的內縮及樣式 */
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

ul.drop-down-menu {
  position: absolute;
  border: rgb(52, 52, 52) 1px solid;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  top: 0px;
  right: 0px; 

}

ul.drop-down-menu li {
  position: relative;
  white-space: nowrap;
  border-right: rgb(52, 52, 52) 1px solid;

}

ul.drop-down-menu > li:last-child {
  border-right: none;
}

ul.drop-down-menu > li {
  float: right; /* 只有第一層是靠右對齊*/
}


ul.drop-down-menu a {
  background-color: rgb(52, 52, 52);
  color: #ffffff;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 40px;
  
  
}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
  background-color: #747474;
  color: rgb(255, 255, 255);
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
  background-color: #747474;
  color: rgb(255, 255, 255);
}

ul.drop-down-menu ul {
  border: rgb(52, 52, 52) 1px solid;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
 min-width: 120px;
 
}

ul.drop-down-menu ul li {
  border-bottom: rgb(52, 52, 52) 1px solid;
}

ul.drop-down-menu ul li:last-child {
  border-bottom: none;
}

ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
  z-index: 999;
  top: 0px;
  left: 90%;
}

ul.drop-down-menu ul { /*隱藏次選單*/
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  left: -1px;
  border-right: 5px;
}

ul.drop-down-menu li:hover > ul ul { /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
  left: 90%;
}

ul.drop-down-menu ul li:hover > ul { /* 第二層之後的選單展開位置*/
  right: 90%;
}






#logo-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

#logo {
  width: 100px; /* 調整logo的寬度 */
  height: auto; /* 根據寬度自動調整高度 */
  display: inline-block;
  margin-top: -25px;
}

#logotext {
  font-size: 40px;
  color: #ffffff;
  margin-top: -58px;
  margin-left: 100px;
}

 .unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
  }

  .arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #505050;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  .arrow:hover {
    background-color: rgb(107, 107, 107);
  }
  .arrow:active {
    background-color: #505050;
  }
  
  .popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 130px;
    height: 85px;
    background-color: #8d8d8d;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 10px;
    display: none;
    }

img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

